@model ObservatorioBodega.Models.Logeo

@{
    ViewBag.Title = "Iniciar Sesión";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contrasena, new { @class = "control-label" })
        @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rol, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Rol, new SelectList(new List<SelectListItem>
        {

       //Se pueden agregar mas roles
            new SelectListItem { Text = "Administrador", Value = "1" },
            new SelectListItem { Text = "Colaborador", Value = "2" },


        }, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
    </div>


    //El link para registrarse aun en proceso 
}


<p>
    @Html.ActionLink("Regístrate", "Registro", "Login")
</p>
